/* Variables */
:root {
  --roundBorder: 1rem;
}

/* Global */
* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
html,
body {
  min-height: 100%;
}
header {
  min-height: 60px;
}
main {
  min-height: 85%;
}
h1,
ul,
body,
html {
  margin: 0;
  padding: 0;
}

/* Utils */
.container {
  margin: 0 auto;
  display: block;
  width: 80%;
}
.flex-row {
  display: flex;
  flex-flow: row wrap;
}
.flex-col {
  display: flex;
  flex-flow: column wrap;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-around {
  justify-content: space-around;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-evenly {
  justify-content: space-evenly;
}
.justify-content-between {
  justify-content: space-between;
}
.align-items-center {
  align-items: center;
}
.m-bot {
  margin-bottom: 1rem;
}
.m-top {
  margin-bottom: 1rem;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
  color: white;
}
.link:hover {
  cursor: pointer;
}
.link:visited.link:link {
  color: white;
}
.round-br {
  border-bottom-right-radius: var(--roundBorder);
}
.round-bl {
  border-bottom-left-radius: var(--roundBorder);
}
.nav-item {
  padding: 1rem;
  background-color: rgb(149, 147, 147);
}
.nav-item:hover {
  background-color: rgb(250, 250, 250);
  color: black;
}

.w-30 {
  width: 30%;
}
.w-40 {
  width: 40%;
}
.w-70 {
  width: 70%;
}

.w-100 {
  width: 100%;
}
.center {
  text-align: center;
}

.btn-medium {
  font-size: 1.2rem;
}
.btn-large {
  font-size: 1.6rem;
}
.word-break {
  word-break: break-all;
}

/* Elements */
.form {
  padding: 1rem;
  margin: 1rem;
  border: 0.1rem solid rgb(197, 197, 197);
  border-radius: var(--roundBorder);
}
.nav {
  width: 100%;
  position: fixed;
}
.input {
  font-size:1.5rem;
  padding: 0.5rem;
  border-radius: var(--roundBorder);
  border: none;
  margin: 0;
}
.btn {
  padding: 0.5rem;
  color: white;
  background-color: rgb(50, 156, 243);
  border-radius: var(--roundBorder);
  border: none;
  font-weight: 500;
  /* margin: 0 0.5rem; */
}
.img {
  width: 160px;
  background-color: white;
  border-radius: 50%;
}
/* Page Presentacion */

/* Page FactorialSumCheck */

.bg-gray {
  color: white;
  background-color: #333;
}

.big-span {
  font-size: 1.5rem;
}

/* Page CharReaderCount */

.big-td {
  font-size: 1.5rem;
}
.big-table {
  font-size: 1.5rem;
}

.table-col {
  padding: 0.5rem;
  font-weight: 400;
}

/* Page MaxValuePyramid */
.path-item {
  font-size: 2rem;
  padding: 0.5rem;
  font-weight: 700;
}
.pyramid-item {
  font-size: 2rem;
  width: 5rem;
  height: 5rem;
}
.pyramid-selected {
  border: 0.1rem solid dodgerblue;
  background-color: rgba(0,0,0,0.45);/*rgba(150, 150, 150, 0.2);*/
  border-radius: 50%; /*circle*/
}
/*item semi repetido pero para no poner tanto texto en la pagina */
.flex-row-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-row-even {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.pyramid {
  width: 100%;
}
 
